header {
	padding:0.21rem 0.2rem;
	background-color:#13213b;
}
header div {
	height:0.7rem;
}
.search	{
	padding-left:0.16rem;
	width:6.4rem;
	height:100%;
	font-size:0.34rem;
	background-color:#fff;
	box-sizing:border-box;
}
.search_btn {
	float:right;
	width:0.7rem;
	height:100%;
	text-align:center;
	line-height:0.7rem;
	font-size:0.42rem;
	background-color:#2157DB;
}
main {
	padding:0 0.34rem;
}
.log_menu {
	height:0.4rem;
	padding:0.22rem 0;
}
.menus {
	font-size:0.28rem;
}
.news_region p, .news_company p {
	padding-bottom:0.26rem;
}
.news_region ul, .news_company ul {
	padding-bottom:0.12rem;
}
.news_region li, .news_company li {
	float:left;
	margin-right:0.14rem;
	margin-bottom:0.14rem;
	padding:0.06rem 0.24rem;
	border: 0.02rem solid #2157db;
	background-color:#0e245e;
}
.news > p {
	padding-bottom:0.15rem;
}
.news li {
	padding-bottom:0.16rem;
	border-bottom:0.02rem solid #1b1e2f;
}
.news div {
	padding:0.14rem 0;
}
.date {
	width:1.4rem;
}
.news_title {
	width:5.4rem;
	color:#fff;
}
.company {
	color:#4e8fe9;
}

