<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
	<title>登录</title>
	<base target="_self"></base>
	<script src="../staic/js/rem.js"></script>
	<link rel="stylesheet" href="../staic/css/base.css">
	<link rel="stylesheet" href="../staic/css/templates/longin.css">
</head>
<body>

	<!-- 用户登录 -->
	<div class="user_longin">
		<div class="close_box clearfix">
			<a href="../index.html" class="close iconfont">&#xe662;</a>
		</div>
		<form>
			<h3>登录智能实验室</h3>
			<p>帐户: <input type="text" name="user"/></p>
			<p>密码: <input type="password" name="password"/></p>
			<p class="hint">帐号及密码输入有误</p>
			<input class="longin_btn" type="submit" value="登录"/>
		</form>
	</div>
	<!-- 用户登录 -->
	
	<script src="../frame/Zepto/zepto_v1.2.0.js"></script>
	<script src="../frame/Zepto/fx.js"></script>
	<script src="../staic/js/base.js"></script>
	<script src="../staic/js/templates/longin.js"></script>
</body>
</html>