<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
	<title>管理</title>
	<base target="_self"></base>
	<script src="../staic/js/rem.js"></script>
	<link rel="stylesheet" href="../staic/css/base.css">
	<link rel="stylesheet" href="../staic/css/templates/manage.css">
</head>
<body>
	<main>
		<section class="col-white">
			<a href="../index.html" class="iconfont">&#xe657;</a>
			<div class="manamge_box">管理</div>
		</section>
		<section class="industry">
			<ul>
				<li>
					<div class="fl">
						<h3>化工</h3>
						<p class="col-red">未更新 24期-2017.5.8</p>
					</div>
					<a class="fr col-yellow">编辑</a>
				</li>
				<li>
					<div class="fl">
						<h3>化工</h3>
						<p class="col-red">未更新 24期-2017.5.8</p>
					</div>
					<a class="fr col-yellow">编辑</a>
				</li>
				<li>
					<div class="fl">
						<h3>化工</h3>
						<p class="col-red">未更新 24期-2017.5.8</p>
					</div>
					<a class="fr col-yellow">编辑</a>
				</li>
				<li>
					<div class="fl">
						<h3>化工</h3>
						<p class="col-red">未更新 24期-2017.5.8</p>
					</div>
					<a class="fr col-yellow">编辑</a>
				</li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</section>
	</main>
	<script src="../frame/Zepto/zepto_v1.2.0.js"></script>
	<script src="../frame/Zepto/fx.js"></script>
	<script src="../staic/js/base.js"></script>
	<script src="../staic/js/templates/manage.js"></script>
</body>
</html>