<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
	<title>数据速报</title>
	<base target="_self"></base>
	<script src="../staic/js/rem.js"></script>
	<link rel="stylesheet" href="../staic/css/base.css">
	<link rel="stylesheet" href="../staic/css/templates/realtyDataReport.css">
</head>
<body>
	
	<header>
		<a href="manage.html" class="iconfont">&#xe657;</a>
		<div class="manamge_box"></div>
	</header>

	<main>
		<section class="industry">
			
		</section>
	</main>

	<script src="../frame/Zepto/zepto_v1.2.0.js"></script>
	<script src="../frame/Zepto/fx.js"></script>
	<script src="../staic/js/base.js"></script>
	<script src="../staic/js/templates/realtyDataReport.js"></script>
</body>
</html>