<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
	<title>智搜</title>
	<script src="../staic/js/rem.js"></script>
	<link rel="stylesheet" href="../staic/css/base.css">
	<link rel="stylesheet" href="../staic/css/templates/searchPage.css">
</head>
<body>
	
	<header>
		<div>
			<input id="search" class="search" type="text" placeholder=""></input>
			<a id="search_btn" class="search_btn iconfont">&#xe617;</a>
		</div>
	</header>

	<main>
		<section class="log_menu">
			<div class="fl"></div>
			<a class="menus iconfont fr">&#xe60b;</a>
		</section>
		<section class="news_region">
			<p>包含“地震”的新闻分布地区（按时间由新到旧排序）</p>
			<ul class="clearfix">
				<li><a>西宁</a></li>
				<li><a>乌鲁木齐</a></li>
				<li><a>成都</a></li>
			</ul>
		</section>
		<section class="news_company">
			<p>包含“地震”的新闻涉及到的公司（按时间由新到旧排序）</p>
			<ul class="clearfix">
				<li><a>青海省人民政府</a></li>
				<li><a>新疆维吾尔自治区人民政府</a></li>
				<li><a>四川省人民政府</a></li>
			</ul>
		</section>
		<section class="news">
			<p>标题包含“地震”的新闻共2136条</p>
			<ul>
				<li>
					<div class="clearfix">
						<span class="date fl">2010.3.2</span>
						<p class="news_title fr">新疆维吾尔自治区发展改革委启动塔什库尔干地震灾后恢复重建总体...</p>
					</div>
					<p class="company">青海省人民政府</p>
				</li>
				<li>
					<div class="clearfix">
						<span class="date fl">2010.3.2</span>
						<p class="news_title fr">新疆维吾尔自治区发展改革委启动塔</p>
					</div>
					<p class="company">青海省人民政府</p>
				</li>
				<li>
					<div class="clearfix">
						<span class="date fl">2010.3.2</span>
						<p class="news_title fr">新疆维吾尔自治区发展改革委启动塔什库尔干地震灾后恢复重建总体...</p>
					</div>
					<p class="company">青海省人民政府</p>
				</li>
			</ul>
		</section>
	</main>
	
	<script src="../frame/Zepto/zepto_v1.2.0.js"></script>
	<script src="../frame/Zepto/fx.js"></script>
	<script src="../staic/js/base.js"></script>
	<script src="../staic/js/templates/searchPage.js"></script>
</body>
</html>